<div class="whole">

  <header class="furima">
    <%= link_to image_tag("furima-logo-color.png", width: '200'), root_path %>
  </header>

  <div class="form-wrap-sell">

    <div class="form-header">
      <div class="form-header-sell">
        <p>商品情報入力</p>
      </div>
    </div>

    <div class="input-forms">
      <%= form_with(model: @item, local: true) do |f| %>
        <%= render 'error_messages', item: @item %><br>
        
        <div class="input-field">
          <%= f.label :image, '出品画像', class: 'selling-image' %><span class="hissu">必須</span><br />
          <p class="selling-image-text">クリックしてファイルをアップロード</p>
          <%= f.file_field :image %>
        </div>

        <div class="input-field">
          <%= f.label :name, '商品名' %><span class="hissu">必須</span><br />
          <%= f.text_field :name, placeholder: '40字まで' %>
        </div>

        <div class="input-field">
          <%= f.label :description, '商品の説明' %><span class="hissu">必須</span><br />
          <%= f.text_area :description, placeholder: '1000字まで', size: "40x5" %>
        </div>

        <div class="item-details">

          <div class="details-title">
            <p>商品の詳細</p>
          </div>

          <div class="details-types">

            <div class="category">
              <%= f.label :category_id, "カテゴリー" %><span class="hissu">必須</span><br />
              <%= f.collection_select :category_id, Category.all, :id, :name, {} %>
            </div><br>

            <div class="status">
              <%= f.label :status_id, "商品の状態" %><span class="hissu">必須</span><br />
              <%= f.collection_select :status_id, Status.all, :id, :name, {} %>
            </div>

          </div>

        </div>

        <div class="item-shipping">

          <div class="shipping-title">
            <p>配送について</p>
          </div>

          <div class="shipping-types">

            <div class="shipping_fee_burden">
              <%= f.label :shipping_fee_burden_id, "配送料の負担" %><span class="hissu">必須</span><br />
              <%= f.collection_select :shipping_fee_burden_id, ShippingFeeBurden.all, :id, :name, {} %>
            </div><br>

            <div class="shipping_prefecture">
              <%= f.label :shipping_prefecture_id, "発送元の地域" %><span class="hissu">必須</span><br />
              <%= f.collection_select :shipping_prefecture_id, ShippingPrefecture.all, :id, :name, {} %>
            </div><br>

            <div class="shipping_days">
              <%= f.label :shipping_days_id, "発送までの日数" %><span class="hissu">必須</span><br />
              <%= f.collection_select :shipping_days_id, ShippingDays.all, :id, :name, {} %>
            </div>
 
          </div>

        </div>

        <div class="price-info">

          <div class="price-title">
            <p>販売価格</p>
            <p>(¥300〜9,999,999)</p>
          </div>

          <div class="price-calculation">
            <div class="price-items">

             <div class="price-row">
              <%= f.label :price, '価格' %><span class="hissu">必須</span>
              <span class="price-input">¥ <%= f.text_field :price, placeholder: '半角数字で入力', id: "price" %></span>
             </div>

              <p class="price-row">販売手数料 (10%)<span id="yen"><span id="tax">0</span>円</span></p>
              <p class="price-row">販売利益<span id="yen"><span id="profit">0</span>円</span></p>

            </div>

          </div>

        </div>

        <p><a href="#">禁止されている出品、行為</a>を必ずご確認ください。またブランド品でシリアルナンバー等がある場合はご記載ください。<a href="#">偽ブランドの販売</a>は犯罪であり処罰される可能性があります。</p>
        <p>また、出品をもちまして<a href="#">加盟店規約</a>に同意したことになります。</p>

        <div class="decide">
          <%= f.submit "出品する", class: 'decide-btn' %>
        </div>

        <div class="back">
          <%= link_to "商品一覧へ戻る", root_path, class: "back-btn" %>
        </div>

      <% end %>
    </div>

  </div>

  <footer class = "furima">
    <%= link_to image_tag("furima-logo-color.png", width: '200'), root_path %>
  </footer>

</div>