<div class="whole">

  <div class="furima">
    <%= link_to image_tag("furima-logo-color.png", width: '200'), root_path %>
  </div>

  <div class="item-show">

    <div class="show-item-name">
      <%= @item.name %>
    </div>

    <div class="show-item-image">
      <%= image_tag @item.image.variant(resize:'300x300') %>
      <% if Purchase.exists?(item_id: @item.id) %>
        <div class="sold-out">
          <span>Sold Out!!</span>
        </div>
      <% end %>
    </div>

    <div class="show-item-price">
      <%= @item.price %>円
    </div>

    <% if user_signed_in? && current_user.id == @item.user_id %>
    <div class="edit">
      <%= link_to "商品の編集", edit_item_path(@item.id), method: :get, class: "edit-btn" %>
    </div>
    <div>
      <%= link_to "商品の削除", item_path(@item.id), method: :delete,  class: "destroy-btn" %>
    </div>
    <% elsif user_signed_in? && current_user.id != @item.user_id && Purchase.exists?(item_id: @item.id) == false %>
    <div>
      <%= link_to "購入画面に進む", item_purchases_path(@item.id), method: :get, class: "purchase-btn" %>
    </div>
    <% end %>

    <div class="item-description-box">
      <span><%= @item.description %></span>
    </div>

    <div class="item-table">
      <table border="1" style="border-collapse: collapse">
        <tr>
          <th>出品者</th>
          <td><%= @item.user.nickname %></td>
        </tr>
        <tr>
          <th>カテゴリー</th>
          <td><%= @item.category.name %></td>
        </tr>
        <tr>
          <th>商品の状態</th>
          <td><%= @item.status.name %></td>
        </tr>
        <tr>
          <th>配送料の負担</th>
          <td><%= @item.shipping_fee_burden.name %></td>
        </tr>
        <tr>
          <th>発送元の地域</th>
          <td><%= @item.shipping_prefecture.name %></td>
        </tr>
        <tr>
          <th>発送日の目安</th>
          <td><%= @item.shipping_days.name %></td>
        </tr>
      </table>
    </div>

    <div class="comment-contents">
      <div class="comment-form">
        <% if user_signed_in? %>
          <h3>コメント投稿</h3>
          <%= form_with(model: [@item, @comment], class: "message-form", id: "new_comment", local: true) do |f| %>
            <%= f.text_area :text, class: "textbox", placeholder: '不快な言葉遣いなどは退会処分となることがあります。', size: "50x5" %><br>
            <%= f.submit "OK", class: 'form-submit' %>
          <% end %>
        <% else %>
          <strong>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</strong>
        <% end %>
      </div>

      <div class="comment-view">
        <h3>< コメント一覧 ></h3>
        <div class="comments">
          <% @comments.each do |comment| %>
            <div class="comment">
              <span class="comment-user"><%= comment.user.nickname %></span>
              <span class="comment-date"><%= comment.created_at %></span>
              <p class="comment-text"><%= comment.text %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="furima">
    <%= link_to image_tag("furima-logo-color.png", width: '200'), root_path %>
  </div>

</div>